@charset "utf-8";

.chatbot-wrap {
    display: flex;-webkit-box-orient: vertical;flex-direction: column;position: fixed;bottom: 130px;right: 20px;width: 500px;min-width: 500px;
    max-width: 1000px;height: calc(100% - 160px);border-radius: 12px;background-color: #fff;z-index: 1000; opacity: 0;transition: opacity 0.3s ease, bottom 0.3s ease, width 0.3s ease;
    box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 12px 60px;
}
.chatbot-wrap * {font-family: "Source Sans Pro", sans-serif;box-sizing: border-box;}
.chatbot-wrap div {width: 100%;}
.chatbot-wrap .chatbot-header {padding: 14px 20px 0;}
.show-popup {opacity: 1;animation: slideUp 0.3s ease forwards;}
.resizer {position: absolute;top: 0;left: 0;bottom: 0;width: 10px !important;cursor: ew-resize;background-color: transparent;}
.resizer::before {content: '';display: inline-block;position: absolute;left: 5px;top: 50%;margin-top: -9px; width: 1px;height: 18px;border-left: 1px solid #b2b2b2;}
.resizer::after {content: '';display: inline-block;position: absolute;left: 8px;top: 50%;margin-top: -9px; width: 1px;height: 18px;border-left: 1px solid #b2b2b2;}
@keyframes slideUp {
    0% {
        bottom: 100px;
        opacity: 0;
    }
    100% {
        bottom: 130px;
        opacity: 1;
    }
}
.chatbot-wrap .chatbot-content {display: flex;flex-direction: column;  align-items: center;justify-content: normal;height: 100%;overflow: hidden;padding: 0 14px 20px 24px;}
.chatbot-wrap .chatbot-content .scrollBox {overflow-y: auto;padding-right: 10px;}
.chatbot-wrap .chatbot-content .scrollBox::-webkit-scrollbar {width: 5px;} 
.chatbot-wrap .chatbot-content .scrollBox::-webkit-scrollbar-track {background-color: #f4f4f4;-webkit-border-radius: 5px;border-radius: 5px;}
.chatbot-wrap .chatbot-content .scrollBox::-webkit-scrollbar-thumb {-webkit-border-radius: 5px;border-radius: 5px;background: #bfbcbc;}
.chatbot-wrap .chatbot-content .question {width: auto;margin: 0 30px 28px 0;padding: 14px 17px;color: #000;font-size: 14px;font-weight: 400;line-height: 1.4;word-break: keep-all; border-radius: 4px;background-color: #f6f6f6;}
.chatbot-wrap .chatbot-content .answer {width: auto;margin: 0 0 28px 30px;padding: 14px 17px;color: #000;font-size: 14px;font-weight: 400;line-height: 1.4;word-break: keep-all; border-radius: 4px;background-color: #f6f6f6;}
.chatbot-wrap .chatbot-content .answer code {white-space: pre;word-break: break-all;white-space: pre-line;color: #000;font-size: 14px;font-weight: 400;line-height: 1.4;}
.chatbot-wrap .chatbot-content .answer code a {font-size: 14px;font-weight: 400;line-height: 1.4;color: #228be7;text-decoration: underline;}
.chatbot-wrap .chatbot-content .data-sources {position: relative; padding: 35px 0 10px;color: #919191;font-size: 12px;font-weight: 400;line-height: 1.4;text-align: right; word-break: keep-all;letter-spacing: -1px;}
.chatbot-wrap .chatbot-content .data-sources::before {
    content: 'Athena';display: inline-block;position: absolute;right: 5px;top: 0;padding: 2px 37px 6px 10px; color: #000;font-size: 14px;font-weight: 700;line-height: 2;letter-spacing: 0;
    background: url(../img/sample-logo.png) right top no-repeat;background-size: 32px;
}
.btn-chatbot.ai {
    position: fixed;bottom: 60px;right: 10px; display: inline-block;padding: 30px;background: url(../img/icon-chatbot.png) center center no-repeat;background-size: 60px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px;border-radius: 35px;transition: all .5s;
}
.btn-chatbot.ai.active {background: url(../img/icon-chatbot-close.png) center center no-repeat;background-size: 60px;}
.chatbot-wrap .chatbot-title {
   width: 100%; padding: 0 10px 10px 45px;margin: 0; font-size: 18px;color: #000;font-weight: 700;;line-height:42px; background: url(../img/top-uracle-ai-logo.png) left 5px no-repeat;background-size: 38px;
    border-bottom: 1px dotted #c1c1c1;
}
.chatbot-wrap .date {padding: 15px 0 10px; font-size: 12px;color: #848484;font-weight: 400;text-align: center;}
.chatbot-wrap .my {padding: 20px 30px 30px; background: url(../img/my-icon.png) left center no-repeat;background-size: 61px;}
.chatbot-wrap .input-box {padding: 12px 25px;border-top: 1px solid #7d7d7d;background: #665e5e;border-radius:0 0 12px 12px}
.chatbot-wrap .input-box  input{margin-bottom:0 !important;}
.input-box input[type="text"] {
  width: 100%;padding: 4px 18px;color: #141223;font-size: 14px;font-weight: 400;line-height: 42px;-webkit-transition: all 0.30s ease-out;border-radius: 4px;border: solid 1px #1c274c;background-color: #fff;}
  
@media screen and (max-width: 767px) {
    .chatbot-wrap .chatbot-header {padding: 10px 10px 0;}
    .chatbot-wrap .chatbot-title {padding: 10px 10px 15px 40px;font-size: 16px;background-size: 30px;}
    .chatbot-wrap {height: 75vh;min-width: 280px;max-width: 89%;}
    .chatbot-wrap .chatbot-content .question {margin: 0 20px 15px 0;padding: 10px 15px;font-size: 13px;line-height: 1.3;}
    .chatbot-wrap .chatbot-content .answer {margin: 0 0 15px 20px;padding: 10px 15px;font-size: 13px;line-height: 1.3;}
    .chatbot-wrap .chatbot-content .data-sources {padding: 24px 0 10px;font-size: 11px;}
    .chatbot-wrap .chatbot-content .data-sources::before {padding: 2px 25px 6px 10px;font-size: 13px;line-height: 1.1;background-size: 20px;}
    .chatbot-wrap .chatbot-content .answer code {font-size: 13px;line-height: 1.3;}
    .chatbot-wrap .input-box {padding: 10px 15px;}
    .input-box input[type="text"] {padding: 4px 10px;color: #141223;font-size: 14px;font-weight: 400;line-height: 30px;}
    .btn-chatbot.ai {display: inline-block;padding: 20px;background: url(../img/icon-chatbot.png) center center no-repeat;background-size: 40px;}
    .btn-chatbot.ai.active {background: url(../img/icon-chatbot-close.png) center center no-repeat;background-size: 40px;}
    @keyframes slideUp {
        0% {
            bottom: 80px;
            opacity: 0;
        }
        100% {
            bottom: 100px;
            opacity: 1;
        }
    }
}

/*1114 버튼 추가*/
.chatbot-wrap .chatbot-content .answer {position:relative;}
.answer .btn-chat-ctrl{z-index:1;position: absolute;right:10px;top:10px;width:24px;height:24px;background: url(../img/bold-video-audio-sound-pause-circle.png) no-repeat center center;border:none;}
.answer .btn-chat-ctrl.pause{background: url(../img/bold-video-audio-sound-play-circle.png) no-repeat center center;}
.answer .btn-chat-more{display:block;width: 156px;height: 42px;margin:15px auto 0;border-radius: 2px;border: solid 1px #bdbdbd;background-color: #fff;font-size: 12px;letter-spacing: normal;color: #000;}
.answer .chat-fix{max-height:40vh;overflow: hidden;}


.chatbot-wrap table, .chatbot-wrap td, .chatbot-wrap th{ border: solid;}

/*1126 버튼 추가*/
.chatbot-wrap .input-box {position: relative; padding: 12px 65px 12px 25px;border-top: 1px solid #7d7d7d;background: #665e5e;border-radius:0 0 12px 12px}
.chatbot-wrap .input-box button {position: absolute;right: 10px;top: 50%;transform: translateY(-50%);border: 0;}
.chatbot-wrap .input-box button.btn-add {padding: 24px;background: url(../img/btn-add.png) no-repeat center center;}
.chatbot-wrap .input-box button.btn-add:disabled {padding: 24px;background: url(../img/btn-add-dis.png) no-repeat center center;}
.chatbot-wrap .input-box button.btn-stop {padding: 24px;background: url(../img/btn-stop.png) no-repeat center center;}